<h1 class="display-1 text-center" id="header">Share the wealth</h1>
<p class="display-4 text-center" id="sub-header">and provide your favorite dish!</p>
<div class="col-md-5 mx-auto" id="background">
<div class="container">

    <div class="logo mb-3">
        <div class="col-12 text-center">
            <h1 class="display-4">Add a dish</h1>
        </div>
    </div>

    <div class="form-group row">
      <label for="dishname" class="col-sm-2 col-form-label">Dish Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="dishname" [(ngModel)]="dishName" placeholder="Dish name">
      </div>
    </div>
    <div class="form-group row">
      <label for="restaurant" class="col-sm-2 col-form-label">Resturant</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="restaurant" [(ngModel)]="dishRest" placeholder="Restaurant name">
      </div>
    </div>
    <div class="form-group row">
        <label for="dishdescription" class="col-sm-2 col-form-label">Dish Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="dishdescription" [(ngModel)]="dishDesc" placeholder="Description"></textarea>
        </div>
    </div>
    <form class="form-group row">
        <div class="col-sm-2">Select Tags</div>

        <div class="input-group col-sm-10">
            <sui-multi-select id="searchbar" 
                                class="selection"
                                name = "search"
                                [(ngModel)]="selectedOptions"
                                [options]="options"
                                labelField="t_name"
                                [isSearchable]="!searchable"
                                [isDisabled]="disabled"
                                [hasLabels]="!hideLabels"
                                #multiSelect>
                <sui-select-option *ngFor="let option of multiSelect.filteredOptions"
                                    [value]="option">
                </sui-select-option>
            </sui-multi-select>
        </div>
    </form>
    <div class="form-group row">
      <div class="col-sm-2">Upload Image(s)</div>
      <div class="col-sm-10">
        <ng-container *ngFor ="let im of imgCount">
        <label class="form-check-label" for="imageupload">
          <input type="file" accept="image/*" (change)="selectFile($event)" id="imageupload">
        </label>
        <br>  
      </ng-container>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
          <button class="btn btn-success" (click)="upload()">Add Dish</button>
          <div *ngIf="success" class="alert alert-success mt-3" role="alert">
            Dish has been added!
          </div>     
      </div>
    </div>
    

</div>

</div>  