.card img{
  background: rgb(143, 143, 143);
  width: 100%!important;
  height: 200px!important;
  object-fit: cover;
}

.links {
  cursor: pointer;
}

#delete {
  color: red;
  cursor: pointer;
}

#image {
  cursor: pointer;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(0, 0, 0);
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}