
<!-- <div class="container" >
  <div class="row">
    <div class="col-sm-6 col-md-4" *ngFor="let d of allDishes" >


      <div class="card" style="width: 18rem;" *ngIf="allDishes.length != null">
        <a href="#"><img src={{d.d_img_url}} class="card-img-top" alt={{d.d_img_url}}></a>
        <div class="card-body">
          <h5 class="card-title">{{d.d_name}}</h5>
          <p class="card-text">{{d.d_description}}</p>
        
        </div>
      </div>

    </div>
  </div>
</div> -->









