.container {
    background: rgba(255, 255, 255, .95);
    margin-top: 20px;
    border-radius: 5%;
    padding: 50px;
    margin-bottom: 50px;
}

.wrapper{
  display: grid;
  grid-template-rows: repeat(auto,minmax(auto,1fr));
  grid-row-gap: 50px;
}
.goal{
  display: grid;
  grid-template-rows: repeat(auto,minmax(auto,1fr));
}

.mission{
  display: grid;
  grid-template-rows: repeat(auto,minmax(auto,1fr));
}

.title{
  margin: 0 auto;
  font-size: 20px;
  margin-top: 10px;
}
 /* p.title{
  margin: 0 auto;
  font-size: 20px;
} */

.video{
  width: 100%;
}

hr{
  border: 2px solid purple;
}

#how{
  color: white;
  background-color: purple;
}

#chow{
color: purple;
}

#note {
  padding-top: 500px;
}