<div class="container col-md-6 mx-auto">
    <div title="We are a multi-million dollar company with a userbase of 10000000000000 and growin'. Have you heard of Yelp? Screw them! We're better! We search by dishes instead of restaurants. Who craves restaurants?? I'll tell you... LOSERS! That's who. Are you a loser? Well you're in the wrong place, buddy. Head over to Pretty Penny instead. Anyway, search stuff bro. We shouldn't have to explain it to you. You're not a loser.">
        yo
    </div>
</div>

