<div class="container col-md-5 mx-auto">
    <div title="We are a multi-million dollar company with a userbase of 10000000000000 and growin'. Have you heard of Yelp? Screw them! We're better! We search by dishes instead of restaurants. Who craves restaurants?? I'll tell you... LOSERS! That's who. Are you a loser? Well you're in the wrong place, buddy. Head over to Pretty Penny instead. Anyway, search stuff bro. We shouldn't have to explain it to you. You're not a loser.">
        <div class="wrapper">

            <div class="title"> <h1> We Are <label id="how">How</label> <label id="chow">Chow</label></h1> <hr> </div>

            <!-- start of introduction -->
          <div class="intro">
              HowChow is your number one trusted food review app.
              At HowChow, we know that food reviews can sometimes be deceiving, and so
              for the past few weeks, a group of highly motivated* individuals
              gathered together to solve this most prominent problem in the bustling metropolis of Morgantown.
          </div>
          <!-- end of introduction -->

          <!-- start of goals -->
          <div class="goal">
            <p class="title">At HowChow our goals are:</p> <hr>
            <ol>
                Allow customers to trawl for the best dishes in town.
                Give customers other consumers' insights, by allowing them to view previous reviews of dishes around town.
                Let customers upload reviews and photos of their favorite dishes.
            </ol>
          </div>
          <!-- end of goals -->

          <div class="mission">
            <p class="title">At HowChow our mission is: </p> <hr>
            <ol>
                We strive to provide our customers with the best service available in the industry.
                We aim to increase customer satisfaction and loyalty by providing the fastest and most accurate service.
            </ol>
          </div>
          <ol>
          <div>
              WE -- ARE HOWCHOW.
          </div>
          <div id="note">
              *please note some individuals are not so motivated.
          </div>
        </ol>
        </div>
    </div>
</div>

