/* You can add global styles to this file, and also import other style files */

body {
    background: url("src/app/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #533657;
}
