<div class="col-md-5 mx-auto" id="background">
    <div class="container">
        <div class="logo mb-3">
            <div class="col-12 text-center">
                <h1 class="display-4">Please select one:</h1>
            </div>
        </div>
        <div class="text-center">
            <div class="btn-group btn-group-lg text-center btn-block">
                <button type="button" class="btn btn-success mr-2" (click)="addTag()">Add Tag</button>
                <button type="button" class="btn btn-danger" (click)="deleteTag()">Delete Tag</button>
            </div>
        </div>
        <ng-container *ngIf="addTagForm">
            <div class="col">
                <h6>Enter Tag you wish to add: </h6>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [(ngModel)]="tagToAdd" placeholder="Enter tag name...">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="add" (click)="confirmAdd()">Add</button>
                    </div>
                </div>
                <div *ngIf="addSuccess" class="alert alert-success mt-3" role="alert">
                    Tag has been successfully added!
                </div>
                <div *ngIf="enterTagAlert" class="alert alert-danger mt-3" role="alert">
                    Please enter a tag before submitting.
                </div> 
                <div *ngIf="tagExists" class="alert alert-danger mt-3" role="alert">
                    Tag already exists.
                </div> 
            </div>
        </ng-container>
        <ng-container *ngIf="deleteTagForm">
            <h6>Select Tags you wish to delete: </h6>
            <div class="input-group">
                <sui-multi-select id="deleteTags" 
                                    class="selection"
                                    name = "deleteTags"
                                    [(ngModel)]="selectedTags"
                                    [options]="tagOptions"
                                    labelField="t_name"
                                    [isSearchable]="!searchable"
                                    [isDisabled]="disabled"
                                    [hasLabels]="!hideLabels"
                                    #multiSelect>
                    <sui-select-option *ngFor="let option of multiSelect.filteredOptions"
                                        [value]="option">
                    </sui-select-option>
                </sui-multi-select>
                <div class="input-group-append">
                    <button class="btn btn-secondary ml-1" id="delete" type="button" (click)="confirmDelete()">Delete</button>
                </div>
            </div>
            <div *ngIf="deleteSuccess" class="alert alert-success mt-3" role="alert">
                Tag has been successfully removed!
            </div>  
            <div *ngIf="enterTagAlert" class="alert alert-danger mt-3" role="alert">
                Please enter a tag before submitting.
            </div> 
        </ng-container>
    </div>
</div>  