<div class="container">
    <div class="col-md-5 mx-auto">
        <div class="form">
            <div class="logo mb-3">
                <div class="col-md-12 text-center">
                    <h1>Login</h1>
                </div>
            </div>
            <form name="login" [formGroup]="form">
                <div class="form-group" [ngClass]="displayFieldCss('username')">
                    <label for="username">Username</label>
                    <input type="text" FormControlName="username" class="form-control" id="username" placeholder="Enter username">
                    <app-field-error-alert
                        [displayError]="isFieldValid('username')" 
                        errorMsg="Username is required">
                    </app-field-error-alert>
                </div>
                <div class="form-group" [ngClass]="displayFieldCss('password')">
                    <label for="password">Password</label>
                    <input type="password" FormControlName="password" class="form-control" id="password" placeholder="Enter Password">
                    <app-field-error-alert
                        [displayError]="isFieldValid('password')" 
                        errorMsg="Password is required">
                    </app-field-error-alert>
                </div>
                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" (click)="onSubmit()">Login</button>
                </div>
                <div class="form-group">
                    <p class="text-center">Don't have an account? <a routerLink='/register' id="register">Sign up here</a></p>
                </div>
            </form>
        </div>
    </div>
  </div> 
