<div class="card w-100">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5 class="card-title"><div>{{review.user.uname}}</div> <div>{{review.rating}}</div></h5>
                </div>
                <div class="col">
                    <h5 class="card-title"><div>&nbsp;</div><div> {{review.userRating}}</div></h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="card-text">{{review.comment}}</p>
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="upVoteReview({{review.id}})">⮝</button>
                    <button class="btn btn-secondary" (click)="downVoteReview({{review.id}})">⮟</button>
                </div>
            </div>
        </div>
    </div>
</div>