<div class="card col-md-10 mx-auto mb-3">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h5>
                    <div class="mb-1">{{review.user.username | titlecase }}</div>
     
                    <div class="ratings">
                            <div class="empty-stars"></div>
                            <div class="full-stars" [style.width.%]=review.rating*10></div>
                        </div>   
                                </h5>
                </div>
                <div class="col">
                    <h5 class="card-title"><div>&nbsp;</div><div> </div></h5>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <p class="card-text">{{review.comment}}</p>
                </div>
                <div class="mr-auto">
                    <button class="btn btn-primary mr-1" (click)="upVoteReview(review.r_id)">⮝</button>
                    <button class="btn btn-secondary" (click)="downVoteReview(review.r_id)">⮟</button>
                </div>
            </div>
        </div>
    </div>
</div>