<!DOCTYPE html>
<html>
<head>
    <title>{{ dispdish.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="card mb-3 mx-auto" style="max-width: 1000px;">
        <div class="row no-gutters">
          <div class="col-md-7">
            <img [src]="dispdish.img" class="card-img">
          </div>
          <div class="col-lg-5">
            <div class="card-body">
              <h5 class="card-title">{{ dispdish.name }}</h5>
              <p class="card-text">{{ dispdish.description }}</p>
              <p class="card-text"><small class="text-muted">Restaurant: {{ dispdish.restaurant }}</small></p>
              <h6 class="card-title"><small class="text-muted">Tags: 
                <span *ngFor="let tag of taglist" class="badge badge-secondary">{{ tag.name }}</span>
              </small></h6>
              <a routerLink="/dish-list" class="btn btn-primary">Back to search</a>
            </div>
          </div>
        </div>
      </div>
      <app-review-list [dishId]="dispdish.d_id"></app-review-list>
</body>
</html>
