<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a routerLink="/dish-list"><h6 class="navbar-brand">HowChow</h6></a>
    <form class="form-inline ml-auto">
        <div class="input-group">
            <input #box type="text" class="form-control" placeholder="Search for a dish..." (keyup.enter)="onEnter(box.value)">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="search()">Search</button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="user != null; else notLoggedIn">
            <li class="nav-item">
                <p class="nav-link active">Welcome, <b>{{user.username}}</b>!</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" routerLink="">Logout</a>
            </li>
        </ng-container>
        <ng-template #notLoggedIn>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ng-template>
    </ul>
</nav>
